<p id="notice"><%= notice %></p>

<p>
  <strong>Card:</strong>
  <%= @card_code.card_id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @card_code.code %>
</p>

<%= link_to 'Edit', edit_card_code_path(@card_code) %> |
<%= link_to 'Back', card_codes_path %>
