<%= form_for(@code_player) do |f| %>
  <% if @code_player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@code_player.errors.count, "error") %> prohibited this code_player from being saved:</h2>

      <ul>
      <% @code_player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code_id %><br>
    <%= text_field :code, :number %>
  </div>
  <% if @player == nil %>
    <div class="field">
      <%= f.label :player_id %><br>
      <%= collection_select(:code_player, :player_id, @players, :id, :name) %>
    </div>
  <% else %>
    <div class="field">
      <%= hidden_field_tag(:player_id, @player.id) %>
    </div>
    <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
